.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f2f2f2;
    padding: 20px;
  }
  
  .navbar__left {
    display: flex;
    align-items: center;
  }
  
  .navbar__right {
    display: flex;
    align-items: center;
  }
  
  .navbar__right li {
    margin-left: 20px;
  }
  
  .navbar__right li:first-child {
    margin-left: 0;
  }
  